<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/skeleton.css">
    <link rel="stylesheet" href="~/css/site.css">
    <script type="text/javascript">
        function deleteConfirm() {
            if(!confirm("Confirm Delete?"))
                window.event.returnValue = false;
        }
    </script>
</head>
<body>
    <div id="navbar">
        <h2>.NET Core Store</h2>
        <a class="nav" asp-action="index">Dashboard</a>
        <a class="nav" asp-action="products">Products</a>
        <a class="nav" id="highlight" asp-action="orders">Orders</a>
        <a class="nav" asp-action="customers">Customers</a>
    </div>
    <form id="order" action="/orders" method="post">
        <p>Add a new order</p>
        <span>Customer:</span>
        <select name="UserId">
            @foreach(var user in ViewBag.Users)
            {
                <option value="@user.UserId">@user.Name</option>
            }
        </select>
        <span>Order:</span>
        <input type="number" name="Quantity" min="1" step="1" placeholder="quantity" required>
        <i>@ViewBag.Err</i>
        <select name="ProductId">
            @foreach(var prod in ViewBag.Products)
            {
                if(@prod.Quantity == 0)
                {
                    <option disabled="disabled">@prod.Name - Unavailable</option>
                }
                else
                {
                    <option value="@prod.ProductId">@prod.Name - max:@prod.Quantity</option>
                }                
            }
        </select>
        <button class="button-primary">Orders</button>
    </form>
    <table id="order">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var order in ViewBag.Orders)
            {
                <tr>
                    <td>@order.User.Name</td>
                    <td>@order.Product.Name</td>
                    <td>@order.Quantity</td>
                    <td>@order.CreatedAt.ToString("MMMM dd yyyy, hh:mmtt")</td>
                    <td><a class="del" href="/orders/delete/@order.OrderId" onclick=deleteConfirm()>Cancel</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>